.clearfix:after, .clf:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #9ea7fc, #65b6f7);
}

.logo {
    width: 90px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #8690db;
}

.container {
    overflow: hidden;
}

.menu {
    float: left;
    width: 90px;
    margin-bottom: -3000px;
    padding-bottom: 3000px;
    box-shadow: 0 2px 8px #c9d1de;
}

.menu-item {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
}

.menu-item.active a:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 5px;
    height: 90px;
    background: linear-gradient(to bottom, #9ea7fc, #65b6f7);
}

.menu-item a {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
    color: #7a838f;
}

#settting, #clear {
    display: none;
    cursor: not-allowed;
}

.menu-item a:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 5px;
    height: 90px;
    background: linear-gradient(to bottom, #9ea7fc, #65b6f7);
}

.workspace {
    position: relative;
    float: left;
    padding-bottom: 98px;
}

.toast {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    min-width: 200px;
    padding: 15px;
    border-radius: 4px;
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.toast.show {
    display: block;
}

.toast.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.workspace h3 {
    margin-top: 35px;
    margin-left: 30px;
    font-size: 16px;
}

.drop-box {
    position: relative;
    width: 550px;
    height: 250px;
    line-height: 110px;
}

#drop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: #f8f9fb;
    border: 4px solid #e0e1e2;
    transition: all 2s ease;
}

#drop:hover {
    border: 4px dashed #8690db;
}

#drop.enter {
    border: 4px dashed #8690db;
}

#drop p {
    color: #333;
    font-size: 36px;
    text-align: center;
}

.dir-info {
    display: none;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    color: #65b6f7;
    font-size: 14px;
    line-height: 50px;
    border: 2px solid #65b6f7;
}

.dir-info.show {
    display: block;
}

.file-info {
    display: none;
    width: 500px;
    min-height: 200px;
    margin: 10px auto;
    background-color: #fff;
}

.file-item {
    padding: 0px 20px;
    color: #65b6f7;
    font-size: 14px;
    line-height: 42px;
    border: 2px solid #65b6f7;
}

.file-name {
    font-size: 16px;
}

.file-size {
    margin-left: 20px;
}

.result {
    display: none;
    position: relative;
    width: 400px;
    height: 120px;
    margin: 0 auto;
    padding: 0 20px;
    color: #6fba50;
    font-size: 14px;
    line-height: 1.4;
    border: 2px solid #6fba50;
}

.result.show {
    display: block;
}

.result a {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #6fba50;
}

.result span {
    position: relative;
    top: 15px;
}

.result a:hover {
    background-color: #5cb934;
}

.result .view {
    left: 100px;
}

.result .copy {
    right: 100px;
}

.result .tip {
    display: none;
    position: absolute;
    z-index: 2;
    right: 70px;
    bottom: 50px;
    padding: 5px 10px;
    font-style: normal;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
}

.result .tip.show {
    display: block;
}
